:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --background-color: #fff;
  --text-color: #000;
  --text-color-white: #fff;
  --input-border-color: #ccc;
  --input-focus-border-color: var(--primary-color);
  --button-text-color: #fff;
  --link-color: var(--primary-color);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-box {
  width: 30%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  text-align: start;
  margin-bottom: 5px;
  margin-left: 6px;
}

input[type="email"],
input[type="password"] {
  width: 92%;
  padding: 12px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: var(--input-focus-border-color);
  outline: 2px solid var(--input-focus-border-color);
}

.align-buttom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--button-text-color);
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--primary-color-hover);
}

.btn-google {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.icon-google {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.links {
  margin-top: 40px;
}

.links a {
  text-decoration: none;
  color: var(--link-color);
  margin: 10px 5px;
}
